@import url("https://fonts.googleapis.com/css?family=Poppins");
$font-family: "Poppins",
serif;

// $primary-bg: #f7fcff;
$primary-bg: rgb(241,241,241);
$secondary-bg: #e1e8ec;
$orange: rgb(255, 84, 26);
$haiti: rgb(23,17,66);

$secondary-font: rgb(82,165,255);