html,body{
    height:100%;
    width:100%;
    font-family: 'Tangerine', serif;
}


.parallax { 
    /*parallax*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*tint */
    background-color: rgba(0, 25, 75, 0.7);
    background-blend-mode: multiply;
    height:100vh;
    width:100vw;
}

#home{
    background-image: url("bridge.jpg");
}

#details{
    background-image: url("cityhall.jpg");
}

#booths{
    background-image: url("festival.jpg");
}

#sponsorships{
    background-image: url("festival.jpg");
}

#about_us{
    background-image: url("festival.jpg");
}

.centerDiv{
    margin: auto;
    text-align:center;
    position: relative;
}
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centerBelow{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.roeblingDivider{
    height:35vh;
    text-align:center;
}
.divider{
    height:10vh;
    text-align:center;
}

h1,h4{
    color: white;
}
h1{
    font-size:1000%;
}
h4{
    font-size:250%;
}
