#eboard {
    height: 100vh;
    background-image: url('../../images/geometric.jpg');
    background-size: cover;
    color: white;
    margin: 0 auto;
    text-align: center;

}

.row-eboard, #eboard-heading{
    position: relative;
    z-index:999;
}
.rounded-circle{
    width:25vh;
    height:25vh;
    object-fit: cover;
}
