#programs {
    background: url('../../images/geometric4.jpg');
    height: 100vh;
    background-size: cover;
    color: black;
    
    /* display:flex; */
}
.row-programs {
    position: relative;
    z-index: 999;
    margin:auto;
    top: 10vh;
}

.row-programs .section-heading{
    font-size: 3.5vw;
}

#llp-description{
    color:white;
    font-size: 150%;
}

#llp_video{
    width:100%;
    height:100%;
}

.card {
    position: relative;
    width: 25vw;
    font-size: 65%;
    margin:auto;
    z-index: 999;
    text-align: center;
}