#events{
    background: url('../../images/geometric4.jpg');
    background-size: cover;
}

.verticalhorizontal {
    display: table-cell;
    height: 100vh;
    text-align: center;
    width: 100vw;
    vertical-align: middle;
}