#join {
    background: url('../../images/geometric3.jpg');
    height: 100vh;
    background-size: cover;
    color: black;
    color: white;
}

#join .tint {
    background: rgba(0, 0, 0, .7);
    
}
/* 
#membership{
    height:50vh;
    width:80vw;
} */

#join .row {
    position: relative;
    z-index: 999;
    top: 10vh;
    list-style-type: square;
}

.member {
    text-align: center;
}

.member div {
    background-color: rgba(0, 0, 0, 0.7);
    background: rgba(255, 255, 255, .1);
    height: 100%;
    transition: 0.7s ease;
}

.member div:hover {
    background-color: rgba(66, 66, 66, 0.219);
    background: rgba(241, 149, 0, 0.15);
}

.member h2 {
    color: #F19500;
}
.member hr{
    width:20%;
    background-color:rgb(94, 94, 94);
}
.member ul {
    padding-left: 0;
}

.member li {
    list-style: none;
}

.member button {
    position: relative;
    bottom: 0;
}

@media only screen and (max-width: 1200px) {
    .member{
        /* margin-bottom: 15px; */
        font-size: 60%;
    }
    .member h2{
        font-size:175%;
    }
}