#join {
    background: url('../../images/geometric3.jpg');
    height: 100vh;
    background-size: cover;
    color: black;
    color: white;
}

#join .tint {
    background: rgba(0, 0, 0, .7);
}

#join .row {
    position: relative;
    z-index: 999;
    top: 10vh;
    list-style-type: square;
}

.member {
    text-align: center;
}

.member div {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.member div:hover {
    background-color: rgba(66, 66, 66, 0.219);
}

.member h3 {
    color: #F19500;
}

.member ul {
    padding-left: 0;
}

.member li {
    list-style: none;
}

.member button {
    position: relative;
    bottom: 0;
}

@media only screen and (max-width: 1200px) {
    .member h3{
        font-size:120%;
    }
    .member{
        font-size: 60%;
    }
}