@import url("https://fonts.googleapis.com/css?family=Poppins");
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f7fcff;
  font-family: "Poppins", serif;
  font-size: 20px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  color: #343a40;
  font-weight: bold; }

h1 {
  font-size: 2.5rem;
  margin: 10vh auto; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6,
p {
  font-size: 1rem; }

p {
  color: rgba(52, 58, 64, 0.75); }

.orange-bg-css:hover,
.orange-text-css:hover,
.button-css:hover,
.fa:hover,
a:hover {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

.tint {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.button-css {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0;
  color: white;
  border-radius: 4px;
  -webkit-transition: filter .3s ease;
  -moz-transition: filter .3s ease;
  -ms-transition: filter .3s ease;
  -o-transition: filter .3s ease;
  transition: filter .3s ease; }

.button-css:hover {
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.25);
  text-decoration: none; }

.orange-bg {
  background: #ff541a; }

.secondary-font {
  color: #52a5ff; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.section-container {
  min-height: 100vh;
  padding-top: 5vh;
  padding-bottom: 5vh; }

i {
  color: #ff541a;
  font-size: 500%; }

b {
  color: #ff541a; }

.orange-hr {
  position: relative;
  width: 80%;
  margin: .3em 0 0 0;
  border-top: 0.2em solid #ff541a;
  border-radius: 1em; }

.center-hr {
  margin: .3em auto !important; }

/********************** HOME PAGE ***********************/
#home {
  background-image: url("../images/qronus-scene.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

#home .home-text {
  position: relative;
  color: white;
  z-index: 10; }

#home #qronus-logo {
  width: 70%; }

/********************** Nav Bar ***********************/
nav {
  background: #1b262cda;
  font-size: .8rem; }

nav #logo {
  max-height: 8vh; }

.nav-link {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.1em;
  color: white; }

.nav-link:hover {
  color: #ff541a; }

/********************** ABOUT SECTION ***********************/
#about #line-img {
  position: relative;
  width: 100%; }

/********************** Section 3 CSS ***********************/
#features {
  background: #f6f9fc;
  background: white; }

#features img {
  width: 80%; }

#features .circle {
  width: 20vw;
  height: 20vw;
  background: #7FDBFF;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center; }

#features .circle:after {
  content: " ";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  box-shadow: 5px 5px 10px #888888; }

#instant_loading {
  width: 30%;
  margin: auto; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  color: #333; }

.slick-slide {
  text-align: center;
  color: #419be0;
  background: white;
  margin: 10px; }

h4 {
  text-align: center; }

/********************** HOW DOES IT WORK SECTION ***********************/
#how-does-it-work {
  background: #f7f9ff;
  text-align: center;
  position: relative; }

#how-does-it-work img {
  width: 90%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); }

#how-does-it-work .steps {
  margin-bottom: 10vh; }

#side-nav {
  position: sticky;
  left: 0;
  top: 8%;
  height: 35%;
  font-size: 150%;
  background: rgba(255, 127, 42, 0.9); }

/********************** Section 4 CSS ***********************/
#customization {
  text-align: center; }

#customization #customize-img {
  width: 70%; }

/* s5 Section */
#s5 p {
  font-weight: bolder;
  font-size: 20px; }

@media only screen and (max-width: 767px) {
  .tint {
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; } }

@media only screen and (min-width: 1440px) {
  .nav {
    font-size: 1rem; } }

@media only screen and (min-width: 2560px) {
  .home-text {
    font-size: 150%; }
  .home-text h2 {
    font-size: 4rem; } }

#contact {
  background: #181818; }

#contact #form-container {
  background: #3054b8;
  height: 50vh;
  width: 50%;
  border-radius: 1em; }

#contact #form-container .row {
  height: 100%; }

#contact #contact-bg {
  background-image: url("../images/text-bg.png");
  background-size: cover;
  background-position: center;
  border-radius: 1em 0 0 1em; }

#contact #contact-form {
  width: 80%;
  margin: 1em auto; }
