body {
   width: 100%;
   height: 100%;
   /* overflow-x: hidden; */
   /* color:white; */
   background: rgb(233, 231, 229);
}

.circle {
   position: absolute;
   top:-40%;
   left: -60%;
   background: #66D3FA;
   border-radius: 50%;
   width: 200vh;
   height: 200vh;
   z-index:-1;
}

.circle2 {
   position: absolute;
   bottom:-50%;
   right: -30%;
   background: #2565AE;
   border-radius: 50%;
   width: 200vh;
   height: 200vh;
   z-index:-2;
}

.circle3 {
   position: absolute;
   top:-150%;
   right: -70%;
   background: #3C99DC;
   border-radius: 50%;
   width: 200vh;
   height: 200vh;
   z-index:-2;
}

.section_container {
   width: 100vw;
   height: 100vh;
   position: relative;
   display: flex;
   justify-content: space-around;
   align-items: center;
   z-index: 999;
}

i {
   color: #FF5218;
   font-size: 500%;
}

strong {
   color: #FF5218;
}

/********************** Section 1 CSS ***********************/
.nav-link {
   color: white;
}

#logo {
   max-height: 5vh;
}

#s1 {
   height: 100vh;
   width: 100vw;
   background: radial-gradient(at bottom right, #66D3FA, #3C99DC, #2565AE, rgb(3, 44, 87));
   color: white;
}

#intro_description {
   flex: 1;
}

#intro_image {
   flex: 1;
}

#kiosk,
#phone {
   display: inline-block;
   width: 1vw;
}

#kiosk {
   width: 70%;
   /* transform: rotate(20deg); */
}

#phone {
   width: 20%;
   transform: rotate(-8deg)
}

/********************** Section 2 CSS ***********************/

#s2 {
   background: rgb(216, 211, 203);
}

#why_qronus {
   flex: 1;
}

#video_container {
   flex: 2;
}

#video {
   width: 50%;
}

/********************** Section 3 CSS ***********************/

#s3 {}

#s3 .slide {
   flex: 1;
   text-align: center;
}


/********************** Section 4 CSS ***********************/

#s4 {
   background: rgb(216, 211, 203);
}

#s4 .slide {
   flex: 1;
   text-align: center;
}

#s4 .slide img {
   width: 20vw;
   height: 15vh;
}